.home-contact {
  background-image: img('21.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
  text-align: center;
  font-family: $font-title-secundario;
  color: color(segundo);
  //for tablet
  @include desde_hasta(600px, 1024px){
    padding: {
      left: 5em;
      right: 5em;
    }
  };
  //for pc
  @include desde(1024px){
    padding: {
      left: 20%;
      right: 20%;
      top: 10%;
      bottom: 10%;
    };
  };
  &__title {
    font-size: 1.5em;
    color: color(blanco);
    font-family: $font-title-secundario;
  }
  &__form {
    opacity: 0.3;
    &__input {
      color: color(negro-suave);
      &::-webkit-input-placeholder {
        color: color(negro);
      }
    }
  }
}

.home-contact__form__btn {
  padding: {
    top: 0.5em;
    bottom: 0.5em;
    left: 1.5em;
    right: 1.5em;
  };
  background: color(primero);
  border: 0px;
  color: color(blanco);
  cursor: pointer;
  &:hover {
    background: color(negro-suave);
  }
  //for pc
  @include desde(1024px){
    background: color(primero);
  }
}
