<div class="footer">
  <a href="https://www.facebook.com/gorgeousandes" class="footer__phone">Phone: (+51)953767677 - (+51)984736476</a>
  <a href="https://www.facebook.com/gorgeousmachupicchu/" class="footer__icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/MariellaQLopez" class="footer__icon"><i class="fa fa-youtube" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/gorgeousandes/?hl=es" class="footer__icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/gorgeousandes" class="footer__icon"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
</div>
