{% load  staticfiles %}

<header>
  <div class="mov-header">
    <div class="mov-header__menu_icon">
      <i id="togle-menu" class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="mov-header__logo">
      <a href="#" class="mov-header__logo__link"><i class="fa fa-bus" aria-hidden="true"></i></a>
    </div>
  </div>
  <div id="nav-menu" class="mov-header-menu-enabled">
    <ul class="mov-header-menu__ul">
      <li class="mov-header-menu__ul__li__logo">
        <a href="/" class="mov-header-menu__ul__li__logo__a">GorgeousMachupicchu</a>
      </li>
      <li class="mov-header-menu__ul__li">
        <a href="/" class="mov-header-menu__ul__li__a">Home</a>
      </li>
      <li class="mov-header-menu__ul__li">
        <a href="{% url 'paquetes_app:paquetes_list' %}" class="mov-header-menu__ul__li__a">Tours</a>
      </li>
      <li class="mov-header-menu__ul__li">
        <a href="{% url 'destinos_app:destinos_index' %}" class="mov-header-menu__ul__li__a">Destinos</a>
      </li>
      <li class="mov-header-menu__ul__li">
        <a href="{% url 'experiencias_app:experiencias_index' %}" class="mov-header-menu__ul__li__a">Experiencias</a>
      </li>
      <li class="mov-header-menu__ul__li">
        <a href="{% url 'home_app:contacto' %}" class="mov-header-menu__ul__li__a">Contactanos</a>
      </li>
      <li class="mov-header-menu__ul__li">
        <a href="{% url 'paquetes_app:paquetes_list' %}" class="mov-header-menu__ul__li__a">Paquetes Turisticos</a>
      </li>
  </div>
  <!-- header for viewport pc -->
  <div class="main-header">
    <a href="/">
      <img src="{% static 'img/logo_g3.png' %}" alt="machu picchu" class="main-header__logo">
    </a>
    <ul class="main-header__menu">
      <li class="main-header__menu__li">
        <a href="/" class="main-header__menu__li__a">Home</a>
      </li>
      <li class="main-header__menu__li">
        <a href="{% url 'paquetes_app:paquetes_list' %}" class="main-header__menu__li__a">Tours</a>
      </li>
      <li class="main-header__menu__li">
        <a href="{% url 'destinos_app:destinos_index' %}" class="main-header__menu__li__a">Destinos</a>
      </li>
      <li class="main-header__menu__li">
        <a href="{% url 'experiencias_app:experiencias_index' %}" class="main-header__menu__li__a">Experiencias</a>
      </li>
      <li class="main-header__menu__li">
        <a href="{% url 'home_app:contacto' %}" class="main-header__menu__li__a">Contactanos</a>
      </li>
      <li class="main-header__menu__li">
        <a href="{% url 'paquetes_app:paquetes_list' %}" class="main-header__menu__li__a li_action">Paquetes Turisticos</a>
      </li>
    </ul>
  </div>
  <!-- end viewport pc-->
</header>
<div class="header-space">

</div>
