{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}Consultas sobre Machu Pichu y Huyna picchu{% endblock %}

{% block description %} Envia una consulta para saber sobre paquetes y tours por machu pichu y huayna pichu {% endblock %}

{% block title_rs %}Consultas sobre Machu Pichu y Huyna picchu{% endblock %}

{% block description_rs %} Envia una consulta para saber sobre paquetes y tours por machu pichu y huayna pichu {% endblock %}

{% block content %}
  {% include "include/header.html" %}
    <div class="contacto grid-x align-center">
      <img src="{% static 'img/fondo1.jpg' %}" alt="huayna picchu"class="contacto__img">
      <div class="cell small-12 medium-8 large-5 contacto__copy">
        <div class="contacto__copy__rs">
          <a href="#" class="contacto__copy__rs__link"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a href="#" class="contacto__copy__rs__link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#" class="contacto__copy__rs__link"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
          <a href="#" class="contacto__copy__rs__link"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
        </div>
        <h1 class="contacto__title">Envianos tus consultas</h1>
        <form class="contacto__copy__form grid-x grid-margin-x" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="cell small-12 medium-12 large-6">
            {% for error in form.email.errors %}
              <span class="contacto__error">{{ error|escape }}</span>
            {% endfor %}
            <div class="contacto__copy__form__item">
              <i class="fa fa-envelope contacto__copy__form__item__icon" aria-hidden="true"></i>
              {{form.email}}
            </div>
          </div>
          <div class="cell small-12 medium-12 large-6">
            {% for error in form.name.errors %}
              <span class="contacto__error">{{ error|escape }}</span>
            {% endfor %}
            <div class="contacto__copy__form__item">
              <i class="fa fa-address-book contacto__copy__form__item__icon" aria-hidden="true"></i>
              {{form.name}}
            </div>
          </div>
          <div class="cell small-12 medium-12 large-6">
            {% for error in form.phone.errors %}
              <span class="contacto__error">{{ error|escape }}</span>
            {% endfor %}
            <div class="contacto__copy__form__item">
              <i class="fa fa-phone-square contacto__copy__form__item__icon" aria-hidden="true"></i>
              {{form.phone}}
            </div>
          </div>
          <div class="cell small-12 medium-12 large-6">
            {% for error in form.contry.errors %}
              <span class="contacto__error">{{ error|escape }}</span>
            {% endfor %}
            <div class="contacto__copy__form__item">
              <i class="fa fa-globe contacto__copy__form__item__icon" aria-hidden="true"></i>
              {{form.contry}}
            </div>
          </div>
          <div class="cell small-12 medium-12 large-6">
            {% for error in form.hour_atention.errors %}
              <span class="contacto__error">{{ error|escape }}</span>
            {% endfor %}
            <div class="contacto__copy__form__item">
              <i class="fa fa-clock-o contacto__copy__form__item__icon" aria-hidden="true"></i>
              {{form.hour_atention}}
            </div>
          </div>
          <div class="cell small-12 medium-12 large-6">
            {% for error in form.day_atention.errors %}
              <span class="contacto__error">{{ error|escape }}</span>
            {% endfor %}
            <div class="contacto__copy__form__item">
              <i class="fa fa-sun-o contacto__copy__form__item__icon" aria-hidden="true"></i>
              {{form.day_atention}}
            </div>
          </div>
          <div class="cell small-12">
            {% for error in form.messagge.errors %}
              <span class="contacto__error">{{ error|escape }}</span>
            {% endfor %}
            <div class="contacto__copy__form__item">
              <i class="fa fa-commenting contacto__copy__form__item__icon" aria-hidden="true"></i>
              {{form.messagge}}
            </div>
          </div>
          <div class="cell small-12">
            <div class="contacto__copy__form__btn">
              <button type="submit" name="button" class="contacto__copy__form__btn__submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {% include "include/footer.html" %}

{% endblock %}
