{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}Huayna picchu - Machu picchu - viaja por Peru{% endblock %}

{% block description %} Ofrecemos paquetes turisticos, tours por el valle sagrado, el cusco, y viajes guiados por distintas ciudades del Peru. {% endblock %}

{% block title_rs %}Huayna picchu - Machu picchu - viaja por Peru{% endblock %}

{% block description_rs %} Ofrecemos paquetes turisticos, tours por el valle sagrado, el cusco, y viajes guiados por distintas ciudades del Peru. {% endblock %}


{% block tags %}
  {% for t in home.tags_set.all  %}
      {{t.name}},
  {% endfor %}
{% endblock tags %}

{% block content %}
  {% include "include/header.html" %}
    <div class="banner">
      <img src="{{home.coverpage.url}}" alt="machupicchu" class="banner__img">
      <div class="banner__copy">
        <div class="banner__copy__content">
          <h1 class="banner__copy__content__h1">{{home.title}}</h1>
          <h2 class="banner__copy__content__h2">{{home.subtitle}}</h2>
        </div>
        <div class="banner__copy__ctrls">
          <a href="{% url 'paquetes_app:paquetes_list' %}" class="banner__copy__ctrls__btn btn_primero">{{home.button_primary}}</a>
          <a href="{% url 'destinos_app:destinos_index' %}" class="banner__copy__ctrls__btn btn_segundo">{{home.button_secundary}}</a>
        </div>
      </div>
    </div>

    <div class="values grid-x grid-margin-x">
      <div class="cell medium-4 value">
        <i class="fa fa-bus fa-3x value__icon color_primero" aria-hidden="true"></i>
        <p class="value__title">{{home.first_value}}</p>
        <p class="value__text">{{home.first_value_content}}</p>
      </div>
      <div class="cell medium-4 value">
        <i class="fa fa-lock fa-3x value__icon color_segundo" aria-hidden="true"></i>
        <p class="value__title">{{home.second_value}}</p>
        <p class="value__text">{{home.second_value_content}}</p>
      </div>
      <div class="cell medium-4 value">
        <i class="fa fa-heart fa-3x value__icon color_tercero" aria-hidden="true"></i>
        <p class="value__title">{{home.third_value}}</p>
        <p class="value__text">{{home.third_value_content}}</p>
      </div>
    </div>

    <div class="paquetes">
      <div class="paquetes__copy">
        <h2 class="paquetes__copy__title">{{home.first_subtitle}}</h2>
        <p class="paquetes__copy__text">{{home.first_subtitle_description}}</p>
      </div>
      <div class="paquetes__items grid-x grid-margin-x">
        {% for p in paquetes  %}
          <div class="cell small-6 medium-4 large-3 paquetes__item">
            <img src="{{p.image.url}}" alt="{{p.name}}" class="paquetes__item__img">
            <div class="paquetes__item__content">
              <h3 class="paquetes__item__content__title">{{p.name}}</h3>
              <p class="paquetes__item__content__text" title="{{p.short_description}}">{{p.short_description|truncatechars_html:105}}</p>
              <a href="#" class="paquetes__item__content__btn">Ver más</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="person-cards">
      <div class="person-cards__copy">
        <h2 class="person-cards__copy__title">{{home.second_subtitle}}</h2>
        <p class="person-cards__copy__text">
          {{home.second_subtitle_description}}
        </p>
      </div>
      <div class="grid-x grid-margin-x">
        {% for d in destinos  %}
          <div class="cell small-6 medium-4 large-3 person-cards__card">
            <img src="{{d.image.url}}" alt="{{d.name}}" class="person-cards__card__img">
            <div class="person-cards__card__content">
              <h3 class="person-cards__card__content__title">{{d.title}}</h3>
              <p class="person-cards__card__content__etiqueta">{{d.city}}</p>
              <p class="person-cards__card__content__text" title="{{d.short_description}}">{{d.short_description|truncatechars_html:80}}</p>
              <a href="#" class="person-cards__card__content__btn">Ver más</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="testimonios">
      <div class="testimonios__copy">
        <h2 class="testimonios__copy__title">¿Qué Dicen de Nosotros?</h2>
      </div>
      <div class="grid-x grid-margin-x">
        {% for o in opiniones  %}
          <div class="cell small-12 large-6 testimonios__item">
            <div class="testimonios__item__comentary">
              <i class="fa fa-quote-left testimonios__item__comentary__icon" aria-hidden="true"></i>
              <p class="testimonios__item__comentary__text">
                {{o.messagge}}
              </p>
            </div>
            <div class="testimonios__item__person">
              <img src="{{o.image}}" alt="{{o.name}}" class="testimonios__item__person__img">
              <div class="testimonios__item__person__info">
                <p class="testimonios__item__person__info__name">{{o.name}}</p>
                <p class="testimonios__item__person__info__email">{{o.email}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="home-contact">
      <p class="home-contact__title">¿Tienes alguna Pregunta?</p>
      <form  method="post">{% csrf_token %}
        <div class="home-contact__form">
          {{form.email}}
          {{form.name}}
          {{form.messagge}}
        </div>
        <button type="submit" class="home-contact__form__btn">Enviar</button>
      </form>
    </div>
  {% include "include/footer.html" %}

{% endblock %}
