{% extends "paquetes/base_paquetes.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %} {{object.name}} {% endblock %}

{% block description %}{{object.short_description}}{% endblock %}

{% block title_rs %}{{object.name}}{% endblock %}

{% block description_rs %}{{object.short_description}}{% endblock %}

{% block tags %}{% for tag in object.tags.all %}{{tag}},{% endfor %} {% endblock tags %}


{% block content %}
  {% include "include/header.html" %}
    <div class="tour-detail">
      <div class="tour-detail__banner">
        <img src="{{package.image.url}}" alt="{{package.name}}" class="tour-detail__banner__img">
        <div class="tour-detail__banner__resume">
          <h3 class="tour-detail__banner__resume__title">{{package.name}}</h3>
          <p class="tour-detail__banner__resume__text">{{package.resume}}</p>
          <p class="tour-detail__banner__resume__price">$ {{package.price}}</p>
        </div>
      </div>

      <div class="grid-container grid-x">
        <h1 class="cell tour-detail__title">{{package.slogan}}</h1>
        <div class="cell small-12 medium-12 large-8 grid-x align-center tour-detail__destinos">
          <h3 class="tour-detail__destinos__title">Conoce estos destinos con este {{package.get_tipo_display}} :</h3>
          {% for r in rutas  %}
            <div class="cell small-12 medium-10 large-12 grid-x tour-detail__destinos__item">
              <div class="cell small-12 medium-6 large-5 tour-detail__destino">
                <img src="{{r.route.destination.image.url}}" alt="{{r.route.destination.name}}" class="tour-detail__destino__img">
              </div>
              <div class="cell small-12 medium-6 large-7 tour-detail__destino">
                <div class="tour-detail__destino__resume">
                  <a href="{% url 'destinos_app:destinos_detail' r.route.destination.city r.route.destination.slug %}" class="tour-detail__destino__resume__name">{{r.route.destination.name}}</a>
                  <span class="tour-detail__leyend">Itinerario</span>
                  <div class="tour-detail__destino__resume__items">
                    {% for i in r.propiedades  %}
                      <div class="tour-detail__destino__resume__items__item">
                        <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                        <p class="tour-detail__destino__resume__items__item__text">{{i.contenido}}</p>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="cell small-12 medium-12 large-3 grid-x align-center  tour-detail__relacionados">
          <p class="cell tour-detail__relacionados__title">Tours más populares</p>
          {% for p in paquetes %}
            <div class="cell small-12 medium-5 large-12 tour-detail__relacionados__item">
              <img src="{{p.image.url}}" alt="p.name" class="tour-detail__relacionados__item__img">
              <div class="tour-detail__relacionados__item__content">
                <a href="{% url 'paquetes_app:paquetes-detail' p.city_origin p.slug %}" class="tour-detail__relacionados__item__content__title">{{p.name}}</a>
                <p class="tour-detail__relacionados__item__content__days">{{p.days}} dias</p>
                <p class="tour-detail__relacionados__item__content__price">$. {{p.price}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% include "include/footer.html" %}
{% endblock %}
