{% extends "paquetes/base_paquetes.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %} huayna picchu hike | visita machupichu viaja por el cusco y todo el Perú{% endblock %}

{% block description %}huayna picchu mountain: encuentra tours y paquetes turiscos para conocer el cusco, valle sagrado, puno, arequipa y todo el Perú.{% endblock %}

{% block title_rs %}huayna picchu mountain: encuentra tours y paquetes turiscos para conocer el Perú.{% endblock %}

{% block description_rs %}huayna picchu mountain: encuentra tours y paquetes turiscos para conocer el Perú.{% endblock %}


{% block content %}
  {% include "include/header.html" %}

  <div class="tours">
    <div class="tours__banner">
      <img src="{% static 'img/fondo2.jpg' %}" alt="machupicchu" class="tours__banner__img">
      <div class="tours__banner__copy">
        <div class="tours__banner__copy__content">
          <p class="tours__banner__copy__content__text">Visita todas las maravillas del Perú</p>
          <h1 class="tours__banner__copy__content__h1">Encuentra el tour ideal para ti por todo el Perú.</h1>
        </div>
        <div class="tours__banner__copy__ctrls">
          <span class="tours__banner__copy__ctrls__description">Destinos: </span>
          <form class="tours__banner__copy__ctrls__form" method="get">{% csrf_token %}
            {{form.destino1}}
            {{form.destino2}}
            <button type="submit" class="btn_search">Buscar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="tours__copy">
      <h2 class="tours__copy__title">Tours más populares</h2>
      <p class="tours__copy__description">Disfruta una experiencia inolvidable, por todo el peru con estos fantasticos tours por machu pichu, Nasca y todo el Perú.</p>
    </div>
    <div class="tours__filter">
      <a href="#" class="tours__filter__item">Todo</a>
      <a href="#" class="tours__filter__item">Por Precio</a>
      <a href="#" class="tours__filter__item">Por Dias</a>
    </div>

    <div class="grid-container">
      <div class="tours__cards grid-x grid-margin-x align-center">
        {% for p in paquetes %}
          <div class="cell small-10 medium-6 large-4 aventure__card">
            <img src="{{ p.image.url }}" alt="{{p.name}}" class="aventure__card__img">
            <div class="aventure__card__info">
              <div class="aventure__card__info__main">
                <a href="{% url 'paquetes_app:paquetes-detail' p.city_origin p.slug %}" class="aventure__card__info__main__title" title="{{p.name}}">{{p.name|truncatechars_html:40}}</a>
                <span class="aventure__card__info__main__price">$ {{p.price}}</span>
              </div>
              <div class="aventure__card__info__content">
                <p class="aventure__card__info__content__tag">
                  <i class="fa fa-calendar aventure__card__info__content__tag__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__content__tag__text">{{p.days}} Dia(s)</span>
                </p>
                <p class="aventure__card__info__content__text" title="{{p.short_description}}">
                  {{p.short_description|truncatechars_html:105}}
                </p>
              </div>
              <div class="aventure__card__info__footer">
                <div class="aventure__card__info__footer__item">
                  <i class="fa fa-circle-o aventure__card__info__footer__item__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__footer__item__text">{{p.city_origin}}</span>
                </div>
                <div class="aventure__card__info__footer__item">
                  <i class="fa fa-circle aventure__card__info__footer__item__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__footer__item__text">{{p.city_destination}}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include "include/footer.html" %}
{% endblock %}
