{% extends "destinos/base_destinos.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %} {{object.name}} {% endblock %}

{% block description %}{{object.short_description}}{% endblock %}

{% block title_rs %}{{object.name}}{% endblock %}

{% block description_rs %}{{object.short_description}}{% endblock %}

{% block tags %}{% for tag in object.tags.all %}{{tag}},{% endfor %} {% endblock tags %}


{% block content %}
  {% include "include/header.html" %}
    <div class="grid-container">
      <div class="grid-x grid-margin-x blog">
        <h1 class="cell blog__title">{{object.name}}</h1>
        <p class="cell blog__etiqueta">@{{object.guide.name}}</p>
        <img src="{{object.image.url}}" alt="{{object.name}}" class="blog__img">

        <div class="cell small-12 medium-12 large-8 blog__content">
          <p class="blog__content__text">
            {{object.guide_experience|safe}}
          </p>
        </div>
        <div class="cell small-12 medium-12 large-4 blog__relations">
          <h1 class="cell blog__relations__title">Sugeridos:</h1>
          {% for p in paquetes  %}
            <div class="blog__relations__card">
              <img src="{{p.image.url}}" alt="name" class="blog__relations__card__img">
              <div class="blog__relations__card__content">
                <a href="{% url 'paquetes_app:paquetes-detail' p.city_origin p.slug %}" class="blog__relations__card__content__title">{{p.name}}</a>
                <span class="blog__relations__card__content__label1">{{p.days}}</span>
                <p class="blog__relations__card__content__label2">$. {{p.price}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% include "include/footer.html" %}
{% endblock %}
