{% extends "destinos/base_destinos.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %} huayna picchu hike | Viajes por Peru {% endblock %}

{% block description %}huayna picchu, Machu Picchu| nuestros viajes por el Peru. arequipa, Cusco, Puno.{% endblock %}

{% block title_rs %}Viaja Por Peru {% endblock %}

{% block description_rs %}Nuestros viajes por el Peru. arequipa, Cusco, Puno. | huayna picchu, Machu Picchu{% endblock %}


{% block content %}
  {% include "include/header.html" %}
    <div class="grid-container experiencies">
      <h1 class="experiencies__title">Nuestras experiecias en distintos lugares del Perú</h1>
      <p class="experiencies__description">Hemos podido visitar distintos lugares del Perú, con maravillosos grupos de personas, revisa nuestras experiencias.</p>
      <div class="grid-x grid-margin-x align-center">
        {% for e in experiencias %}
          <div class="cell small-12 medium-6">
            <div class="experiencie__card">
              <div class="experiencie__card__img">
                <img src="{{e.image.url}}" alt="name" class="experiencie__card__img__imagen">
              </div>
              <div class="experiencie__card__content">
                <h3 class="experiencie__card__content__title">{{e.name}}</h3>
                <span class="experiencie__card__content__date">{{e.created}}</span>
                <p class="experiencie__card__content__text">{{e.short_description|truncatechars_html:100}}</p>
                <a href="{% url 'experiencias_app:experiencias_detail' e.slug e.pk %}" class="experiencie__card__content__a">Ver más</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% include "include/footer.html" %}
{% endblock %}
