{% extends "destinos/base_destinos.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %} huayna picchu hike | Conoce el Peru y sus maravillas{% endblock %}

{% block description %}huayna picchu mountain | conoce Arequipa, Cusco, Puno y otras hermosas ciudades del Peru.{% endblock %}

{% block title_rs %}huayna picchu hike | Conoce el Peru y sus maravillas.{% endblock %}

{% block description_rs %}huayna picchu mountain | conoce Arequipa, Cusco, Puno y otras hermosas ciudades del Peru.{% endblock %}


{% block content %}
  {% include "include/header.html" %}
    <div class="tours__copy">
      <h2 class="tours__copy__title">Visitas grandiosos lugares del Peru</h2>
      <p class="tours__copy__description">Conoce el Perú y sus increíbles lugares para tomar unas vacaciones, por hermosos paisajes, ruinas incaicas, gente maravillosa costumbres y mas.</p>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        {% for d in destinos %}
          <div class="cell small-10 medium-6 large-4 aventure__card">
            <img src="{{ d.image.url }}" alt="{{d.image}}" class="aventure__card__img">
            <div class="aventure__card__info">
              <div class="aventure__card__info__main">
                <a href="{% url 'destinos_app:destinos_detail' d.city d.slug %}" class="aventure__card__info__main__title">{{d.name}}</a>
                <span class="aventure__card__info__main__price">{{d.city}}</span>
              </div>
              <div class="aventure__card__info__content">
                <p class="aventure__card__info__content__tag">
                  <i class="fa fa-globe aventure__card__info__content__tag__icon" aria-hidden="true"></i>
                </p>
                <p class="aventure__card__info__content__text" title="{{d.short_description}}">
                  {{d.short_description|truncatechars_html:105}}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% include "include/footer.html" %}
{% endblock %}
